In [65]:
# Importing Libraries
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn import tree
import numpy as np

In [66]:
# Loading The Dataset
df = pd.read_csv("C:/Users/Godwin/Desktop/Washington_State_HDMA-2016.csv/Washington_State_HDMA-2016.csv")

C:\Users\Godwin\Anaconda3\envs\Tensorflow\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (23,24,25,28,29,30,38,39,40) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [67]:
#Checking Data
df.head(10)

,tract_to_msamd_income,rate_spread,population,minority_population,number_of_owner_occupied_units,number_of_1_to_4_family_units,loan_amount_000s,hud_median_family_income,applicant_income_000s,state_name,...,applicant_sex_name,applicant_race_name_5,applicant_race_name_4,applicant_race_name_3,applicant_race_name_2,applicant_race_name_1,applicant_ethnicity_name,agency_name,agency_abbr,action_taken_name
0,121.690002,NaN,8381.0,23.790001,2175.0,2660.0,227,73300.0,116.0,Washington,...,Female,NaN,NaN,NaN,NaN,"Information not provided by applicant in mail,...",Not Hispanic or Latino,Consumer Financial Protection Bureau,CFPB,Loan originated
1,83.370003,NaN,4915.0,23.990000,1268.0,1777.0,240,57900.0,42.0,Washington,...,Male,NaN,NaN,NaN,NaN,White,Hispanic or Latino,Department of Housing and Urban Development,HUD,Loan originated
2,91.129997,NaN,5075.0,11.820000,1136.0,1838.0,241,73300.0,117.0,Washington,...,Male,NaN,NaN,NaN,NaN,White,Not Hispanic or Latino,Department of Housing and Urban Development,HUD,Loan originated
3,146.169998,NaN,5032.0,8.590000,1525.0,1820.0,351,73300.0,315.0,Washington,...,Male,NaN,NaN,NaN,NaN,"Information not provided by applicant in mail,...","Information not provided by applicant in mail,...",National Credit Union Administration,NCUA,Loan originated
4,162.470001,NaN,5183.0,10.500000,1705.0,2104.0,417,78100.0,114.0,Washington,...,Female,NaN,NaN,NaN,NaN,White,Not Hispanic or Latino,Federal Deposit Insurance Corporation,FDIC,Loan originated
5,119.629997,NaN,4775.0,18.889999,954.0,1332.0,206,72300.0,NaN,Washington,...,Male,NaN,NaN,NaN,NaN,White,Not Hispanic or Latino,Office of the Comptroller of the Currency,OCC,Loan originated
6,103.209999,NaN,4745.0,33.070000,1337.0,1442.0,356,90300.0,NaN,Washington,...,Male,NaN,NaN,NaN,NaN,White,Not Hispanic or Latino,Department of Housing and Urban Development,HUD,Loan originated
7,93.769997,NaN,7451.0,33.400002,1761.0,2478.0,265,72300.0,NaN,Washington,...,Male,NaN,NaN,NaN,NaN,White,Not Hispanic or Latino,Consumer Financial Protection Bureau,CFPB,Loan originated
8,109.580002,NaN,6567.0,21.709999,1130.0,1579.0,131,73600.0,NaN,Washington,...,Male,NaN,NaN,NaN,NaN,White,Not Hispanic or Latino,Department of Housing and Urban Development,HUD,Loan originated
9,87.160004,NaN,9326.0,19.400000,2449.0,3403.0,199,61400.0,37.0,Washington,...,Male,NaN,NaN,NaN,NaN,White,Not Hispanic or Latino,Federal Deposit Insurance Corporation,FDIC,Loan originated

In [68]:
df.shape

(466566, 47)

In [69]:
#Checking Data Info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466566 entries, 0 to 466565
Data columns (total 47 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   tract_to_msamd_income           465951 non-null  float64
 1   rate_spread                     8638 non-null    float64
 2   population                      465956 non-null  float64
 3   minority_population             465956 non-null  float64
 4   number_of_owner_occupied_units  465944 non-null  float64
 5   number_of_1_to_4_family_units   465955 non-null  float64
 6   loan_amount_000s                466566 non-null  int64
 7   hud_median_family_income        465960 non-null  float64
 8   applicant_income_000s           404533 non-null  float64
 9   state_name                      466566 non-null  object
 10  state_abbr                      466566 non-null  object
 11  sequence_number                 466566 non-null  int64
 12  respondent_id                   466566 non-null  object
 13  purchaser_type_name             466566 non-null  object
 14  property_type_name              466566 non-null  object
 15  preapproval_name                466566 non-null  object
 16  owner_occupancy_name            466566 non-null  object
 17  msamd_name                      428292 non-null  object
 18  loan_type_name                  466566 non-null  object
 19  loan_purpose_name               466566 non-null  object
 20  lien_status_name                466566 non-null  object
 21  hoepa_status_name               466566 non-null  object
 22  edit_status_name                74505 non-null   object
 23  denial_reason_name_3            1246 non-null    object
 24  denial_reason_name_2            6746 non-null    object
 25  denial_reason_name_1            34499 non-null   object
 26  county_name                     466199 non-null  object
 27  co_applicant_sex_name           466566 non-null  object
 28  co_applicant_race_name_5        14 non-null      object
 29  co_applicant_race_name_4        21 non-null      object
 30  co_applicant_race_name_3        105 non-null     object
 31  co_applicant_race_name_2        1862 non-null    object
 32  co_applicant_race_name_1        466566 non-null  object
 33  co_applicant_ethnicity_name     466566 non-null  object
 34  census_tract_number             465960 non-null  float64
 35  as_of_year                      466566 non-null  int64
 36  application_date_indicator      466566 non-null  int64
 37  applicant_sex_name              466566 non-null  object
 38  applicant_race_name_5           46 non-null      object
 39  applicant_race_name_4           68 non-null      object
 40  applicant_race_name_3           297 non-null     object
 41  applicant_race_name_2           4478 non-null    object
 42  applicant_race_name_1           466566 non-null  object
 43  applicant_ethnicity_name        466566 non-null  object
 44  agency_name                     466566 non-null  object
 45  agency_abbr                     466566 non-null  object
 46  action_taken_name               466566 non-null  object
dtypes: float64(9), int64(4), object(34)
memory usage: 167.3+ MB

In [70]:
#Checking Numerical Features Properties
df.describe()

,tract_to_msamd_income,rate_spread,population,minority_population,number_of_owner_occupied_units,number_of_1_to_4_family_units,loan_amount_000s,hud_median_family_income,applicant_income_000s,sequence_number,census_tract_number,as_of_year,application_date_indicator
count,465951.000000,8638.000000,465956.000000,465956.000000,465944.00000,465955.000000,466566.000000,465960.000000,404533.000000,4.665660e+05,465960.000000,466566.0,466566.000000
mean,106.906157,2.120028,5288.219117,24.765475,1389.05978,1822.137288,298.260936,76797.148468,112.984713,1.126340e+05,1395.489104,2016.0,0.207285
std,29.280418,1.113000,1665.350069,15.214602,506.75606,682.031693,760.741532,12959.051933,125.115972,2.020830e+05,2950.970895,0.0,0.609593
min,14.050000,1.500000,5.000000,2.040000,10.00000,10.000000,1.000000,48700.000000,1.000000,1.000000e+00,1.000000,2016.0,0.000000
25%,87.260002,1.590000,4124.000000,13.220000,1032.00000,1395.000000,172.000000,65800.000000,60.000000,5.121000e+03,117.010000,2016.0,0.000000
50%,104.529999,1.720000,5173.000000,20.750000,1359.00000,1734.000000,248.000000,73300.000000,89.000000,2.647200e+04,323.220000,2016.0,0.000000
75%,123.809998,2.000000,6342.000000,32.220001,1705.00000,2171.000000,350.000000,90300.000000,133.000000,1.095258e+05,702.030000,2016.0,0.000000
max,257.140015,13.660000,13025.000000,94.790001,2997.00000,5893.000000,99999.000000,90300.000000,9999.000000,1.241780e+06,9901.000000,2016.0,2.000000

In [71]:
#Checking Columns with Nul Values
df.isnull().sum()

tract_to_msamd_income                615
rate_spread                       457928
population                           610
minority_population                  610
number_of_owner_occupied_units       622
number_of_1_to_4_family_units        611
loan_amount_000s                       0
hud_median_family_income             606
applicant_income_000s              62033
state_name                             0
state_abbr                             0
sequence_number                        0
respondent_id                          0
purchaser_type_name                    0
property_type_name                     0
preapproval_name                       0
owner_occupancy_name                   0
msamd_name                         38274
loan_type_name                         0
loan_purpose_name                      0
lien_status_name                       0
hoepa_status_name                      0
edit_status_name                  392061
denial_reason_name_3              465320
denial_reason_name_2              459820
denial_reason_name_1              432067
county_name                          367
co_applicant_sex_name                  0
co_applicant_race_name_5          466552
co_applicant_race_name_4          466545
co_applicant_race_name_3          466461
co_applicant_race_name_2          464704
co_applicant_race_name_1               0
co_applicant_ethnicity_name            0
census_tract_number                  606
as_of_year                             0
application_date_indicator             0
applicant_sex_name                     0
applicant_race_name_5             466520
applicant_race_name_4             466498
applicant_race_name_3             466269
applicant_race_name_2             462088
applicant_race_name_1                  0
applicant_ethnicity_name               0
agency_name                            0
agency_abbr                            0
action_taken_name                      0
dtype: int64

In [72]:
#Dropping Columns Where Null Value is Greater Than 70% OF The Total VAlue
df = df.drop(["denial_reason_name_3", "denial_reason_name_2", "co_applicant_race_name_5", 
        "co_applicant_race_name_4", "co_applicant_race_name_3", "co_applicant_race_name_2","applicant_race_name_5",
        "applicant_race_name_4", "applicant_race_name_3", "applicant_race_name_2", "rate_spread"
        ,"edit_status_name", "denial_reason_name_1"], axis = 1)

In [73]:
#Filling missing Columns with Non-Numerical data the Highest occuring UNique Value
null_data_2 = ["msamd_name", "county_name"]
for i in null_data_2:
    mode = df[i].mode()[0]
    print(mode)
    df[i].fillna(mode, inplace = True)

Seattle, Bellevue, Everett - WA
King County

In [74]:
#Filling missing Columns with Numerical Values with the Mean of The Column
null_data = ["tract_to_msamd_income", "population", "minority_population", "number_of_owner_occupied_units", 
             "number_of_1_to_4_family_units", "hud_median_family_income", "applicant_income_000s","census_tract_number"]
for i in null_data:
    mean = round(df[i].mean(), 0)
    df[i].fillna(mean, inplace = True)

In [75]:
#Checking Unique Values For The Features
df["as_of_year"].unique()
#Drop: It has a single unique Value
df = df.drop("as_of_year", axis = 1)

In [76]:
df["state_abbr"].unique()
df = df.drop("state_abbr", axis = 1)

In [77]:
df["state_name"].unique()
df = df.drop("state_name", axis = 1)

In [78]:
df["owner_occupancy_name"].unique()
#Counting Number of Not applicable
(df["owner_occupancy_name"] == "Not applicable").sum()
#Replacing the Not applicable with the Mode of the column
df["owner_occupancy_name"] = df["owner_occupancy_name"].replace("Not applicable", df["owner_occupancy_name"].mode()[0])

In [79]:
df["lien_status_name"].unique()
#Counting Number of Not applicable
(df["lien_status_name"] == "Not applicable").sum()
#Replacing the Not applicable with the Mode of the column
df["lien_status_name"] = df["lien_status_name"].replace("Not applicable", df["lien_status_name"].mode()[0])

In [80]:
df["applicant_sex_name"].unique()
#Counting Number of Not applicable
(df["applicant_sex_name"] == "Not applicable").sum()
#Replacing the Not applicable with the Mode of the column
df["applicant_sex_name"] = df["applicant_sex_name"].replace("Not applicable", df["applicant_sex_name"].mode()[0])
#Replacing the Information not provided by applicant in mail, Internet, or telephone application with the Mode of the column
df["applicant_sex_name"] = df["applicant_sex_name"].replace("Information not provided by applicant in mail, Internet, or telephone application", df["applicant_sex_name"].mode()[0])

In [81]:
df["agency_name"].unique()

array(['Consumer Financial Protection Bureau',
       'Department of Housing and Urban Development',
       'National Credit Union Administration',
       'Federal Deposit Insurance Corporation',
       'Office of the Comptroller of the Currency',
       'Federal Reserve System'], dtype=object)

In [82]:
#Drop: Since the agency_abbr has same Function
df = df.drop(["agency_name"], axis = 1)

In [83]:
df = df.drop(["respondent_id"], axis = 1)

In [84]:
#Checking Unique Values For The Label
df["action_taken_name"].unique()

array(['Loan originated', 'Application approved but not accepted',
       'Application denied by financial institution',
       'Application withdrawn by applicant',
       'File closed for incompleteness',
       'Loan purchased by the institution',
       'Preapproval request denied by financial institution',
       'Preapproval request approved but not accepted'], dtype=object)

In [85]:
#To Determine Loan Decision We need to know if the Loan is Originated Or Not
#Changing the Non-originated loans to Loan Not Originated
df["action_taken_name"] = df["action_taken_name"].replace("Application approved but not accepted", "Loan_not_originated")

In [86]:
df["action_taken_name"] = df["action_taken_name"].replace("Application approved but not accepted", "Loan_not_originated")

In [87]:
df["action_taken_name"] = df["action_taken_name"].replace("File closed for incompleteness", "Loan_not_originated")

In [88]:
df["action_taken_name"] = df["action_taken_name"].replace("Application withdrawn by applicant", "Loan_not_originated")

In [89]:
df["action_taken_name"] = df["action_taken_name"].replace("Preapproval request denied by financial institution", "Loan_not_originated")

In [90]:
df["action_taken_name"] = df["action_taken_name"].replace("Preapproval request approved but not accepted", "Loan_not_originated")

In [91]:
df["action_taken_name"] = df["action_taken_name"].replace("Loan purchased by the institution", "Loan_not_originated")

In [92]:
df["action_taken_name"] = df["action_taken_name"].replace("Application denied by financial institution", "Loan_not_originated")

In [93]:
one_hot = OrdinalEncoder()
df["applicant_sex_name"] = one_hot.fit_transform(df[["applicant_sex_name"]])
df["co_applicant_sex_name"] = one_hot.fit_transform(df[["co_applicant_sex_name"]])
df["co_applicant_ethnicity_name"] = one_hot.fit_transform(df[["co_applicant_ethnicity_name"]])
df["applicant_ethnicity_name"] = one_hot.fit_transform(df[["applicant_ethnicity_name"]])
df["applicant_ethnicity_name"] = one_hot.fit_transform(df[["applicant_ethnicity_name"]])
df["agency_abbr"] = one_hot.fit_transform(df[["agency_abbr"]])
df["action_taken_name"] = one_hot.fit_transform(df[["action_taken_name"]])
df["applicant_race_name_1"] = one_hot.fit_transform(df[["applicant_race_name_1"]])
df["co_applicant_race_name_1"] = one_hot.fit_transform(df[["co_applicant_race_name_1"]])
df["purchaser_type_name"] = one_hot.fit_transform(df[["purchaser_type_name"]])
df["property_type_name"] = one_hot.fit_transform(df[["property_type_name"]])
df["preapproval_name"] = one_hot.fit_transform(df[["preapproval_name"]])
df["msamd_name"] = one_hot.fit_transform(df[["msamd_name"]])
df["loan_type_name"] = one_hot.fit_transform(df[["loan_type_name"]])
df["loan_purpose_name"] = one_hot.fit_transform(df[["loan_purpose_name"]])
df["hoepa_status_name"] = one_hot.fit_transform(df[["hoepa_status_name"]])
df["county_name"] = one_hot.fit_transform(df[["county_name"]])
df["lien_status_name"] = one_hot.fit_transform(df[["lien_status_name"]])
df["owner_occupancy_name"] = one_hot.fit_transform(df[["owner_occupancy_name"]])

In [94]:
from sklearn.model_selection import train_test_split
X = df.iloc[:, 0:28]
Y = df.iloc[:, 28]
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.28, random_state = 0)

In [96]:
Decision_Tree = DecisionTreeClassifier(criterion = "entropy", max_depth = 3, random_state = 1, min_samples_leaf = 5)
Model = Decision_Tree.fit(x_test, y_test)

prediction = Model.predict(x_test)
from sklearn import metrics
from sklearn.metrics import f1_score

cm  = metrics.confusion_matrix(y_test, prediction)
print(cm)
print(f1_score(y_test, prediction, average = "weighted")*100)

[[58188 15720]
 [    0 56731]]
87.98299094365787